---
---

@import "minima";

blockquote {
  font-family: Verdana, sans-serif !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 200 !important;
  color: #828282 !important;
  letter-spacing: -1px !important;
}
